/* In App.css or your custom CSS file */
@keyframes circle-out-top-left {
    from {
      clip-path: circle(125%);
    }
    to {
      clip-path: circle(0% at top left);
    }
  }
  
  [transition-style="out:circle:top-left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-top-left both;
  }
  